# Advanced SQL - Homework 1

This document contains the first homework from DBPRA on Advanced SQL.

This homework is to be solved in groups of up to 4 students. Assignment
of groups is done on ISIS.

## How-to hand in this homework

This homework should be handed in as a Jupyter notebook. We give you a
certain wrapper that we expect you to follow. If you decide to not
follow this wrapper, we expect you to give us instructions on how to
replicate your setup. Ideally, this is a Docker (Compose) file.

**Note:** These tasks are intended to be solved with DuckDB or SQLite.
You can choose any of the two (or another if you follow the above
instruction), but be aware, that these tasks are **not** built to work
with both DBMS equally well.

In [ ]:
%pip install duckdb

In [ ]:
import sqlite3
import duckdb

duckdb_db = duckdb.connect(database=":memory:")
sqlite_db = sqlite3.connect(":memory:")


## Task 1: Integrity Constraints (10 Points)

Extend the database schema (see `Customer` table below) so that **customers can have
additional contact details**, including a **normal phone and a mobile phone number** and an
**email address**.

------------------------------------------------------------------------

### Instructions

1.  **Create a new table** named `Customer_Contact` to store the contact
    data of customers.  
2.  **Add a foreign key constraint** from `Customer_Contact` to the
    `Customer` table.
    - When a customer is **deleted**, their associated contact details
      should also be **automatically deleted**.  
    - Changing the **primary key** of a customer who has contact
      information **must not be allowed**.

------------------------------------------------------------------------

### Requirements for the `customer_contact` Table

- Either the **phone number** or the **mobile number** must always be
  provided (at least one of them cannot be `NULL`).  
- The **email address** must be **valid in a simplified way**,
  satisfying all of the following conditions:
  - It contains an **`@`** symbol and a **`.`** (dot).  
  - It does **not start or end** with an `@` or a `.`.

In [ ]:
%CREATE integrity_constraints.db

In [ ]:
DROP TABLE IF EXISTS Customer;

In [ ]:
CREATE TABLE IF NOT EXISTS Customer (
    C_CUSTKEY     INTEGER       NOT NULL,
    C_NAME        VARCHAR(25)   NOT NULL,
    C_ADDRESS     VARCHAR(40)   NOT NULL,
    C_NATIONKEY   INTEGER       NOT NULL,
    C_ACCTBAL     DECIMAL(15,2) NOT NULL,
    C_MKTSEGMENT  CHAR(10)      NOT NULL,
    C_COMMENT     VARCHAR(117)  NOT NULL,
    PRIMARY KEY (C_CUSTKEY)
);

In [ ]:
INSERT INTO Customer VALUES (1, 'Sarah', 'Riad', 1, '17.1', 'Bikes', 'First customer')
, (2, 'Gereon', 'Berlin', 2, '42.1', 'Bikes', 'PhD')
, (3, 'Ada', 'Palo Alto', 3, '47.11', 'Computers', 'Nice');

In [ ]:
SELECT * FROM Customer

### Insert your SQL for creating the `Customer_Contact` table into next cell

The following statements should work:

```sql
INSERT INTO Customer_Contact VALUES (1, 'sarah@love.sa', '+966 123456', NULL)
```

```sql
INSERT INTO Customer_Contact VALUES (2, 'gereon@tu.berlin', '+49 123456', '+49 654321')
```

```sql
INSERT INTO Customer_Contact VALUES (3, 'Ada.@palo-alto', NULL, '+1 654321')
```

The following statements should fail:

```sql
INSERT INTO Customer_Contact VALUES (1, 'sarahlove.sa', '+966 123456', NULL)
```

```sql
INSERT INTO Customer_Contact VALUES (2, '.gereon@tu.berlin', '+49 123456', NULL)
```

```sql
INSERT INTO Customer_Contact VALUES (3, 'Ada.@palo-alto', NULL, NULL)
```

```sql
INSERT INTO Customer_Contact VALUES (4, 'stefan@tu.berlin', NULL, '+49 9247')
```

The following statement should work and also delete the coresponding customer contact tuple:

```SQL
DELETE FROM Customer WHERE C_CUSTKEY = 2;
```

The following statements should fail:

```SQL
UPDATE Customer SET C_CUSTKEY = 17 WHERE C_CUSTKEY = 2;
```


## Task 2: Advanced SQL Statements (20 Points)

A query given in natural language can be expressed in multiple ways
using SQL. In this task, we therefore expect you to express each of
these statements in three meaningfully different ways. We expect your
statements to be runnable and produce the same result using our test
data.

## Meaningfully different

The following two statements are meaningfully different:

``` sql
SELECT *
FROM tbl1 a, tbl2 b, tbl3 c
WHERE a.id = b.id
    AND b.id = c.id
```

``` sql
SELECT *
FROM tbl1 a NATURAL JOIN tbl2 b
    NATURAL JOIN tbl3 c
```

The following two statements are **not** meaningfully different:

``` sql
SELECT *
FROM tbl1 a, tbl2 b,
    JOIN tbl3 c on b.id = c.id
WHERE a.id = b.id
```

``` sql
SELECT *
FROM tbl1 a NATURAL JOIN tbl2 b on a.id = b.id,
    tbl3 c
WHERE b.id = c.id
```

The following queries are all based on the aforementioned TPC-H schema

In [ ]:
# Your code here


### Query 1: 3 Variants

> The Name and Address of all African Suppliers.

In [ ]:
# Variant 1

In [ ]:
# Variant 2

In [ ]:
# Variant 3


### Query 2: 3 Variants

> The Name and Address of all non-American suppliers.

In [ ]:
# Variant 1

In [ ]:
# Variant 2

In [ ]:
# Variant 3


### Query 3: 2 Variants

> All Customers that have ordered both Africa and Europe
>
> **Note:** The Variants should *not* differ only in the type of joins
> used.

In [ ]:
# Variant 1

In [ ]:
# Variant 2


### Query 4: 2 Variants

> All LineItems that have been shipped immediately after the Date of
> order.

In [ ]:
# Variant 1

In [ ]:
# Variant 2


### Query 5: 2 Variants

> All Customers that have ordered something in all regions.
>
> **Note:** The Variants should *not* differ only in the type of joins
> used.

In [ ]:
# Variant 1

In [ ]:
# Variant 2


### Query 6: 2 Variants

> The Number of orders, split into “shipped before noon” and “shipped
> after noon”.

In [ ]:
# Variant 1

In [ ]:
# Variant 2


## Task 3: Graph Traversal (10 Points)

Given are the following two tables:

- A List of Transactions:
  https://raw.githubusercontent.com/BigDataAnalyticsGroup/bigdataengineering/refs/heads/master/data/graphs/transactions_nodes.csv
- A Precedence list:
  https://raw.githubusercontent.com/BigDataAnalyticsGroup/bigdataengineering/refs/heads/master/data/graphs/transactions_precedence.csv

Import the Data into your DBMS of choice. Now, answer the following
question:

> Which order do the transactions need to be run such that no circles
> exist in the graph?

In [ ]:
# Your Code here


## Task 4: Explain Division (10 points)

Explain: How does a double-nested relational division work? Use figures
whenever necessary.

**Hint:** You can also create a PDF and link it here.

> Your Answer here.